# Existe un .env de ejemplo, para los usuarios que los descarguen, creen el archivo .env, y rellenen con los datos del ejemplo
.env

# Se ignora la dasedatos por default
/db/*.sqlite3

*.pyc
*.cpython-311.pyc

*.pdf

__pycache__/