{% extends 'base.html' %}
{% load static %}
{% block titulo %}Inicio{% endblock %}

{% block container %}
<br><br>
<div class="col-12">
  <h4 class='text-center'>Listado de Camaras de Frio</h4>
</div>

<!-- <div class="d-grid gap-2 d-flex justify-content-end">
    <button type="button" class="btn btn-default" onclick="abrirModalSubirBajarValor()"><i class="fa-solid fa-up-down"></i></button>
    <button type="button" class="btn btn-default" onclick="abrirModalCambiarValorKm()"><i class="fa-solid fa-truck-arrow-right"></i></button>
    <button type="button" class="btn btn-default" onclick="abrirModalAgregarCamara()"><i class="fa-regular fa-plus"></i></button>
</div> -->

<!-- <table class="table table-responsive table-bordered">
  <thead>
    <tr style="background-color: rgb(198, 198, 198); ">
      <th scope="col">N°</th>
      <th scope="col">Nombre</th>
      <th scope="col">M²</th>
      <th scope="col">M³</th>
      <th scope="col">Neto</th>
      <th scope="col">+IVA</th>
      <th scope="col">Botones</th>
    </tr>
  </thead>
  <tbody>
    {% for camara in camaras %}
    <tr style="font-size: 1.2vw;">
      <td>{{camara.correlativo}}</td>
      <td>{{camara.nombre}}</td>
      <td>{{camara.m2}}</td>
      <td>{{camara.m3}}</td>
      <td><i class="fa-solid fa-dollar-sign"></i> {{camara.valorNeto}}</td>
      <td><i class="fa-solid fa-dollar-sign"></i> {{camara.valorIva}}</td>
      <td id="{{camara.id}}" style="color: blue; text-decoration: underline blue; cursor: pointer;"
        onclick="abrirModalEnviarCorreo(this)" data-bs-toggle="modal" data-bs-target="#modalEnviarCorreo">Enviar </td>
    </tr>
    {% endfor %}
  </tbody>
</table> -->
<div class="demo-container">
  <div id="grid">
    <div id="tablaCamaras"></div>
  </div>
</div>

<br><br><br>

<!-- Modal -->
<div class="modal fade" id="modalEnviarCorreo" tabindex="-1" aria-labelledby="modalEnviarCorreoLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEnviarCorreoLabel">Enviar Cotización</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formEnviarCorreoCliente" method="POST" action="{% url 'envio-correo-cliente' %}"
          data-parsley-validate>
          {% csrf_token%}
          <input type="hidden" id="numero-camara" name="numero-camara">

          <!-- <div style="padding-left: 7px;" class="form-group row">
            <div class="form-check">
              <div class="col-sm-4">
                <input class="form-check-input" type="checkbox" value="" id="id-check-datos-cliente" name="check-datos-cliente" onchange="mostrarFormularioCliente()">
              </div>
              <label class="form-check-label" for="id-check-datos-cliente">
                Datos de Cliente
              </label>
            </div>
          </div> -->

          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id-check-datos-cliente" name="check-datos-cliente"
              onchange="mostrarFormularioCliente()">
            <label class="form-check-label" for="id-check-datos-cliente">Cliente</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id-check-datos-observacion"
              name="check-datos-observacion" onchange="mostrarFormularioObservacion()">
            <label class="form-check-label" for="id-check-datos-observacion">Observación</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="id-check-datos-descuento" name="check-datos-descuento"
              onchange="mostrarFormularioDescuento()">
            <label class="form-check-label" for="id-check-datos-descuento">Descuento</label>
          </div>
          <br>

          <div class="container-formulario-cliente" id="id-container-formulario-cliente" hidden>
            <br>
            <div class="form-group row">
              <label for="id-nombre" class="col-sm-3 col-form-label">Nombre<span class="tx-danger">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id='id-nombre' name='nombre'>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-rut" class="col-sm-3 col-form-label">Rut<span class="tx-danger">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id='id-rut' name='rut'>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-giro" class="col-sm-3 col-form-label">Giro Comercial<span
                  class="tx-danger">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id='id-giro' name='giro'>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-region" class="col-sm-3 col-form-label">Región<span class="tx-danger">*</span></label>
              <div class="col-sm-9 mg-0 pd-0">
                <select class="form-select" id="id-region" name="region" onchange="buscarComunas(this)" required>
                  <option value="-1" selected>Seleccionar</option>
                  {% for region in regiones %}
                  <option value="{{region.id}}">{{region.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-comuna" class="col-sm-3 col-form-label">Comuna<span class="tx-danger">*</span></label>
              <div class="col-sm-9 mg-0 pd-0">
                <select class="form-select" id="id-comuna" name="comuna" disabled required>
                  <option value="-1" selected>Seleccionar</option>
                </select>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-direccion" class="col-sm-3 col-form-label">Dirección<span
                  class="tx-danger">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id='id-direccion' name='direccion'>
              </div>
            </div>
            <br>
            <div class="form-group row">
              <label for="id-telefono" class="col-sm-3 col-form-label">Telefono<span class="tx-danger">*</span></label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id='id-telefono' name='telefono'>
              </div>
            </div>
            <br>
          </div>
          <br>
          <div class="container-formulario-observacion" id="id-container-formulario-observacion" hidden>
            <div class="form-group row">
              <label for="id-observacion" class="col-sm-3 col-form-label">Observación</label>
              <div class="col-sm-9">
                <textarea class="form-control" id="id-observacion" name="observacion" rows="3"></textarea>
              </div>
            </div>
            <br>
          </div>

          <div class="container-formulario-descuento" id="id-container-formulario-descuento" hidden>
            <div class="form-group row">
              <label for="id-rut" class="col-sm-3 col-form-label">Descuento<span class="tx-danger">*</span></label>
              <div class="col-sm-9">
                <input type="number" class="form-control" id='id-descuento' name='descuento' placeholder="%">
              </div>
            </div>
            <br>
          </div>
          <div class="form-group row">
            <br>
            <label for="id-correo-cliente" class="col-sm-3 col-form-label">Correo Electronico<span
                class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id='id-correo-cliente' name='correo-cliente' required>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn_enviando_correo" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Enviando...
        </button>
        <button type="button" class="btn btn-primary" id="btn_enviar_correo"><i class="fa-solid fa-envelope"></i> Enviar
          Cotización</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAgregarCamara" tabindex="-1" aria-labelledby="modalAgregarCamaraLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarCamaraLabel">Agregar Camara de Frio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formEnviarGuardarCamara" enctype="multipart/form-data" data-parsley-validate>
          {% csrf_token%}
          <div class="form-group row">
            <label for="id-nombre-camara" class="col-sm-3 col-form-label">Nombre<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id='id-nombre-camara' name='nombre-camara' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-metro-cuadrado" class="col-sm-3 col-form-label">Metro cuadrado<span
                class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id='id-metro-cuadrado' name='metro-cuadrado' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-metro-cubico" class="col-sm-3 col-form-label">Metro cubico<span
                class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id='id-metro-cubico' name='metro-cubico' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-valor" class="col-sm-3 col-form-label">Valor Neto<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id='id-valor' name='valor' required>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="imagen_guia" class="col-sm-3 col-form-label">Guía<span class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input class="form-control form-control-md" id="imagen_guia" name="imagen_guia" type="file" required>
            </div>
          </div>
          <br>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn_guardando_camara" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
        <button type="button" class="btn btn-primary" id="btn_guardar_camara" onclick="guardaCamaraDeFrio()"><i
            class="fa-solid fa-floppy-disk"></i> Guardar Camara</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL CAMBIAR KM-->
<div class="modal fade" id="modalCambiarValorKM" tabindex="-1" aria-labelledby="modalCambiarValorKMLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCambiarValorKMLabel">Cambiar Valor KM</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formCambiarValorKM" enctype="multipart/form-data" data-parsley-validate>
          {% csrf_token%}
          <div class="form-group row">
            <label for="id-valor-actual" class="col-sm-3 col-form-label">Valor Actual</label>
            <div class="col-sm-9">
              <input type="number" class="form-control" id='id-valor-actual' value="{{valor_km}}" name='valor-actual'
                readonly>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="id-valor-nuevo" class="col-sm-3 col-form-label">Nuevo Valor<span
                class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id='id-valor-nuevo' name='valor-nuevo' required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn_guardando_valor" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
        <button type="button" class="btn btn-primary" id="btn_guardar_valor" onclick="cambiarValorKilometro()"><i
            class="fa-solid fa-floppy-disk"></i> Guardar Valor</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL SUBIR O BAJAR PRECIOS-->
<div class="modal fade" id="modalSubirBajarPrecio" tabindex="-1" aria-labelledby="modalSubirBajarPrecioLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSubirBajarPrecioTitulo">Cambiar Precios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formCambiarPrecioCamara" enctype="multipart/form-data" data-parsley-validate>
          {% csrf_token%}
          <div class="form-group row">
            <label for="id-valor-nuevo" class="col-sm-3 col-form-label">Porcentaje<span
                class="tx-danger">*</span></label>
            <div class="col-sm-2">
              <input type="number" class="form-control" id='id-precio-nuevo' placeholder="%" name='precio-nuevo'
                step="0.0000000001" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn_guardando_precio" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
        <button type="button" class="btn btn-primary" id="btn_guardar_precio" onclick="cambiaPrecioCamaras()"><i
            class="fa-solid fa-floppy-disk"></i> Cambiar Valor</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL AGREGAR FICHA -->
<div class="modal fade" id="modalSubirFicha" tabindex="-1" aria-labelledby="modalSubirFichaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalSubirFichaTitulo">Agregar Ficha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="formSubirFicha" enctype="multipart/form-data" data-parsley-validate>
          {% csrf_token%}
          <div class="form-group row">
            <label for="id-ficha-camara" class="col-sm-3 col-form-label">Cámara<span class="tx-danger">*</span></label>
            <div class="col-sm-9 mg-0 pd-0">
              <select class="form-select" id="id-ficha-camara" name="ficha-camara" required>
                <option value="-1" selected>Seleccionar</option>
                {% for camara in camaras %}
                <option value="{{camara.id}}">{{camara.nombre}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <br>
          <div class="form-group row">
            <label for="imagen-agregar-ficha" class="col-sm-3 col-form-label">Guía<span
                class="tx-danger">*</span></label>
            <div class="col-sm-9">
              <input class="form-control form-control-md" id="imagen-agregar-ficha" name="imagen-agregar-ficha"
                type="file" required>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
            class="fa-regular fa-circle-xmark"></i> Cerrar</button>
        <button class="btn btn-primary" id="btn-guardando-ficha" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Cargando...
        </button>
        <button type="button" class="btn btn-primary" id="btn-guardar-ficha" onclick="guardarFichaCamara()"><i
            class="fa-solid fa-floppy-disk"></i> Agregar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block partial_js_script %}
<script>
  $("#btn_guardando_camara").hide()
  $("#btn_enviando_correo").hide()
  $("#btn_guardando_valor").hide()
  $("#btn_guardando_precio").hide()
  $("#btn-guardando-ficha").hide()

  function mostrarFormularioCliente() {
    var checkBox_cliente = document.getElementById("id-check-datos-cliente");
    // If the checkbox is checked, display the output text
    if (checkBox_cliente.checked == true) {
      $("#id-container-formulario-cliente").attr('hidden', false)
      $("#id-nombre").attr('required', true)
      $("#id-rut").attr('required', true)
      $("#id-direccion").attr('required', true)
      $("#id-telefono").attr('required', true)
      $("#id-giro").attr('required', true)
      $("#id-comuna").attr('required', true)
      $("#id-region").attr('required', true)
    } else {
      $("#id-container-formulario-cliente").attr('hidden', true)
      $("#id-nombre").attr('required', false)
      $("#id-rut").attr('required', false)
      $("#id-direccion").attr('required', false)
      $("#id-telefono").attr('required', false)
      $("#id-giro").attr('required', false)
      $("#id-comuna").attr('required', false)
      $("#id-region").attr('required', false)
    }
  }

  function mostrarFormularioDescuento() {
    var checkBox_descuento = document.getElementById("id-check-datos-descuento");
    // If the checkbox is checked, display the output text
    if (checkBox_descuento.checked == true) {
      $("#id-container-formulario-descuento").attr('hidden', false)
      $("#id-descuento").attr('required', true)
    } else {
      $("#id-container-formulario-descuento").attr('hidden', true)
      $("#id-descuento").attr('required', false)
    }
  }

  function mostrarFormularioObservacion() {
    var checkBox_observacion = document.getElementById("id-check-datos-observacion");
    // If the checkbox is checked, display the output text
    if (checkBox_observacion.checked == true) {
      $("#id-container-formulario-observacion").attr('hidden', false)
      $("#id-observacion").attr('required', true)
    } else {
      $("#id-container-formulario-observacion").attr('hidden', true)
      $("#id-observacion").attr('required', false)
    }
  }

  function separadorMiles(numero) {
    return numero.toLocaleString('en-US')
  }

  function abrirModalEnviarCorreo(value) {
    _valores = []
    if(value.length>1){
      value.forEach(function(item) {
        _valores.push(item.id)
      });
    }else{
      _valores.push(value)
    }
    let modal = $('#modalEnviarCorreo')
    $("#numero-camara").val(_valores)
    modal.modal('show')
  }

  function abrirModalAgregarCamara() {
    $('#modalAgregarCamara').modal('show');
  }

  function abrirModalCambiarValorKm() {
    $('#modalCambiarValorKM').modal('show');
  }

  function abrirModalSubirBajarValor() {
    $('#modalSubirBajarPrecio').modal('show');
  }

  function abrirModalAgregarFicha() {
    $('#modalSubirFicha').modal('show');
  }

  $('#btn_enviar_correo').click(function () {
    const formulario = $('#formEnviarCorreoCliente')
    if (formulario.parsley().validate()) {
      $("#btn_enviar_correo").hide()
      $("#btn_enviando_correo").show()
      $.post(formulario.attr('action'), formulario.serialize(), function (response) {
        $("#btn_enviar_correo").show()
        $("#btn_enviando_correo").hide()
        $('#modalEnviarCorreo').modal('hide');
        if (!response.respuesta == 0 && response.enviado == true) {
          notify = new PNotify({
            title: 'Acción exitosa',
            text: 'Correo enviado correctamente',
            type: 'success',
            styling: 'bootstrap3',
            delay: 3000
          });
          setTimeout(function(){location.reload()}, 2000)
        } else {
          notify = new PNotify({
            title: 'Acción no se ha ejecutado',
            text: 'No se ha podido realizar la acción',
            type: 'error',
            styling: 'bootstrap3',
            delay: 3000
          });
        }
      })
    }
  });

  function guardaCamaraDeFrio() {
    const formulario = $('#formEnviarGuardarCamara');
    if (formulario.parsley().validate()) {
      $("#btn_guardar_camara").hide()
      $("#btn_guardando_camara").show()
      let formData = new FormData();
      formData.append('csrfmiddlewaretoken', formulario.find('input[name = csrfmiddlewaretoken]').val());
      formData.append('nombre', formulario.find('input[name = nombre-camara]').val());
      formData.append('m2', formulario.find('input[name = metro-cuadrado]').val());
      formData.append('m3', formulario.find('input[name = metro-cubico]').val());
      formData.append('neto', formulario.find('input[name = valor]').val());
      formData.append('guia', formulario.find('input[name = imagen_guia]')[0].files[0]);

      $.ajax({
        url: "{% url 'guardar-camara-frio' %}",
        type: 'POST',
        data: formData,
        dataType: "json",
        success: function (data) {
          setTimeout(function () {
            $("#btn_guardar_camara").show()
            $("#btn_guardando_camara").hide()
            $('#modalAgregarCamara').modal('hide');
            document.getElementById("formEnviarGuardarCamara").reset();
            if (data.respuesta == true) {
              formulario.parsley().reset()
              notify = new PNotify({
                title: 'Acción Exitosa!',
                text: 'Se ha guardado la camara correctamente',
                type: 'success',
                styling: 'bootstrap3',
                delay: 3000
              });
            } else {
              notify = new PNotify({
                title: 'Error!',
                text: 'ha ocurrido un error!',
                type: 'error',
                styling: 'bootstrap3',
                delay: 3000
              });
            }
            dataGrid.refresh();
          }, 2000)
        },
        // Tell jQuery not to process data or worry about content-type
        // You must include these options!
        cache: false,
        contentType: false,
        processData: false,
      })
    }
  }

  function cambiarValorKilometro() {
    const formulario = $('#formCambiarValorKM');
    if (formulario.parsley().validate()) {
      $("#btn_guardar_valor").hide()
      $("#btn_guardando_valor").show()
      let formData = new FormData();
      formData.append('csrfmiddlewaretoken', formulario.find('input[name = csrfmiddlewaretoken]').val());
      formData.append('valor', formulario.find('input[name = valor-nuevo]').val());

      $.ajax({
        url: "{% url 'cambiar-valor-km' %}",
        type: 'POST',
        data: formData,
        dataType: "json",
        success: function (data) {
          setTimeout(function () {
            $("#btn_guardar_valor").show()
            $("#btn_guardando_valor").hide()
            $('#modalCambiarValorKM').modal('hide');
            document.getElementById("formCambiarValorKM").reset();
            if (data.respuesta == true) {
              $("#id-valor-actual").val(data.valor)
              notify = new PNotify({
                title: 'Acción Exitosa!',
                text: 'Se ha cambiado el valor correctamente',
                type: 'success',
                styling: 'bootstrap3',
                delay: 3000
              });
            } else {
              notify = new PNotify({
                title: 'Error!',
                text: 'ha ocurrido un error!',
                type: 'error',
                styling: 'bootstrap3',
                delay: 3000
              });
            }
            dataGrid.refresh();
          }, 2000)
        },
        // Tell jQuery not to process data or worry about content-type
        // You must include these options!
        cache: false,
        contentType: false,
        processData: false,
      })
    }
  }

  function cambiaPrecioCamaras() {
    const formulario = $('#formCambiarPrecioCamara');
    if (formulario.parsley().validate()) {
      $("#btn_guardar_precio").hide()
      $("#btn_guardando_precio").show()
      let formData = new FormData();
      formData.append('csrfmiddlewaretoken', formulario.find('input[name = csrfmiddlewaretoken]').val());
      formData.append('precio', formulario.find('input[name = precio-nuevo]').val());
      $.ajax({
        url: "{% url 'cambiar-precio-camara' %}",
        type: 'POST',
        data: formData,
        dataType: "json",
        success: function (data) {
          setTimeout(function () {
            $("#btn_guardar_precio").show()
            $("#btn_guardando_precio").hide()
            $('#modalSubirBajarPrecio').modal('hide');
            document.getElementById("formCambiarPrecioCamara").reset();
            if (data.respuesta == true) {
              notify = new PNotify({
                title: 'Acción Exitosa!',
                text: 'Se ha actualizado los valores de las camaras',
                type: 'success',
                styling: 'bootstrap3',
                delay: 3000
              });
            } else {
              notify = new PNotify({
                title: 'Error!',
                text: 'ha ocurrido un error!',
                type: 'error',
                styling: 'bootstrap3',
                delay: 3000
              });
            }
            dataGrid.refresh();
          }, 2000)
        },
        // Tell jQuery not to process data or worry about content-type
        // You must include these options!
        cache: false,
        contentType: false,
        processData: false,
      })
    }
  }

  function guardarFichaCamara() {
    const formulario = $('#formSubirFicha');
    if (formulario.parsley().validate()) {
      $("#btn-guardar-ficha").hide()
      $("#btn-guardando-ficha").show()
      let formData = new FormData();
      formData.append('csrfmiddlewaretoken', formulario.find('input[name = csrfmiddlewaretoken]').val());
      formData.append('camara', formulario.find('select[name = ficha-camara]').val());
      formData.append('ficha', formulario.find('input[name = imagen-agregar-ficha]')[0].files[0]);
      $.ajax({
        url: "{% url 'guardar-ficha-camara' %}",
        type: 'POST',
        data: formData,
        dataType: "json",
        success: function (data) {
          setTimeout(function () {
            $("#btn-guardar-ficha").show()
            $("#btn-guardando-ficha").hide()
            $('#modalSubirFicha').modal('hide');
            document.getElementById("formSubirFicha").reset();
            if (data.respuesta == true) {
              notify = new PNotify({
                title: 'Acción Exitosa!',
                text: 'Se ha agregado la ficha a la camara',
                type: 'success',
                styling: 'bootstrap3',
                delay: 3000
              });
              dataGrid.refresh();
            } else {
              notify = new PNotify({
                title: 'Error!',
                text: 'ha ocurrido un error!',
                type: 'error',
                styling: 'bootstrap3',
                delay: 3000
              });
            }
          }, 2000)
        },
        // Tell jQuery not to process data or worry about content-type
        // You must include these options!
        cache: false,
        contentType: false,
        processData: false,
      })
    }
  }

  function buscarComunas(value) {
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
    var _region = value.value
    if (_region > 0) {
      $.ajax({
        url: "{% url 'json-listar-comunas' 0 %}".replace('/0', '/' + _region),
        type: "POST",
        headers: { "X-CSRFToken": csrftoken },
        success: function (data) {
          if (data.respuesta) {
            $('#id-comuna').prop('disabled', false);
            $('#id-comuna').html('').select({
              data: {
                id: null,
                text: null
              }
            });
            jQuery.each(data.data, function (index, value) {
              $('#id-comuna').append($('<option>', { value: value.id, text: value.nombre }));
            });
          }
        },
        error: function (data) {
          console.log('ha ocurrido un error!')
        }
      })
    } else {
      $('#id-comuna').prop('disabled', true);
      $('#id-comuna').append('<option value="-1" hidden selected>Seleccione</option>');
    }
  }

  function tamanoPantallaUsuario() {
    var value = screen.width
    if (value > 1300) {
      return 90
    } else if (value < 400) {
      return 45
    } else {
      return 45
    }
  }

  const dataGrid = $("#tablaCamaras").dxDataGrid({
    dataSource: "{% url 'json-listar-camaras' %}",
    showBorders: true,
    showRowLines: true,
    showColumnLines: true,
    rowAlternationEnabled: true,
    hoverStateEnabled: true,
    columnAutoWidth: true,
    selection: {
      mode: 'multiple',
    },
    scrolling: {
      columnRenderingMode: 'virtual',
    },
    loadPanel: {
      enabled: true
    },
    searchPanel: {
      width: 170,
      visible: true,
      highlightCaseSensitive: true
    },
    paging: {
      enabled: false,
      pageSize: 100
    },
    pager: {
      showPageSizeSelector: true,
      allowedPageSizes: [10, 25, 50, 250, 500, 1000, 2000],
      showInfo: true
    },
    columnChooser: {
      enabled: true,
      mode: "select"
    },
    "export": {
      enabled: true,
      fileName: "Cámaras de frio",
      allowExportSelectedData: false,
    },
    columns: [{
      dataField: "#",
      cellTemplate: function (cellElement, cellInfo) {
        cellElement.text(cellInfo.row.rowIndex + 1)
      },
      allowHiding: false,
      showInColumnChooser: false,
    }, {
      dataField: "nombre",
      caption: "Nombre",
      
    }, {
      dataField: "m2",
      caption: "M²",
      dataType: 'number',
    }, {
      dataField: "m3",
      caption: "M³",
      dataType: 'number',
    }, {
      dataField: "neto",
      caption: "Neto",
      dataType: 'number',
      format: 'currency',
    }, {
      dataField: "iva",
      caption: "IVA",
      dataType: 'number',
      format: 'currency',
    }, {
      dataField: '',
      caption: '',
      alignment: "center",
      cellTemplate: function (container, options) {
        $('<a/>').addClass('dx-link')
          .text('Ficha')
          .attr('href', "{% url 'pdf_view' 0 %}".replace('/0', '/' + options.key.ficha))
          .attr('title', 'Ficha')
          .attr('target', '_black')
          .appendTo(container);
      },
      allowHiding: true,
      showInColumnChooser: false
    }, {
      dataField: '',
      caption: '',
      alignment: "center",
      cellTemplate: function (container, options) {
        $('<a/>').addClass('dx-link')
          .text('Enviar')
          .attr('title', 'Cotización')
          .attr('target', '_black')
          .appendTo(container)
          .off('click')
          .on('click', function () {
            abrirModalEnviarCorreo(options.key.id);
          });
      },
      allowHiding: true,
      showInColumnChooser: false
    }], onContentReady: function (e) {
      var $envios_multiples_camaras = $('<div class="mr-2" id="envios_multiples_camaras">').dxButton({
        icon: 'movetofolder', //or your custom icon
        hint: "Enviar Correo",
        onClick: function () {
          var dataGrid = $("#tablaCamaras").dxDataGrid("instance");
          var seleccionados = dataGrid.getSelectedRowsData();
          if (seleccionados.length > 0) {
            abrirModalEnviarCorreo(seleccionados)
          }else{
            notify = new PNotify({
                title: 'Acción sin exito',
                text: 'No ha seleccionado ningúna cámara',
                type: 'error',
                styling: 'bootstrap3',
                delay: 2000
            });
          }

        }
      });
      if (e.element.find('#envios_multiples_camaras').length == 0)
        e.element
          .find('.dx-toolbar-after')
          .prepend($envios_multiples_camaras);
    },
  }).dxDataGrid("instance");
</script>
{% endblock %}