{% load static %}
{% block container %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'assets/img/logo_menu.png' %}" alt="" width="45" height="25"
                class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Listar
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'inicio' %}">Listar Camaras</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'listar-cotizaciones' %}">Listar Cotizaciones</a>
                        </li>
                        <!-- <li><a class="dropdown-item" href="#">Modificar Ficha</a></li>
                        <li><a class="dropdown-item" href="#">Eliminar Ficha</a></li> -->
                    </ul>
                </li>
                <!-- <li class="nav-item">
            <a class="nav-link" href="#">Cambiar Precio</a>
          </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Configuración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#" onclick="abrirModalAgregarFicha()">Agregar Ficha</a>
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="abrirModalAgregarCamara()">Agregar Cámara</a>
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="abrirModalCambiarValorKm()">Cambiar Valor Km</a>
                        </li>
                        <li><a class="dropdown-item" href="#" onclick="abrirModalSubirBajarValor()">Cambiar Valor %</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}